*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    margin-top: 0%;
    padding:3%;
    display: flex;
    justify-content: space-between;
}
body,html{
    height: 100%;
}

.hero{
    height: 100vh;
    background-image: url(assets/images/bmw.jpg);
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size:cover;
}
.logo{
    font-family: "Montserrat";
    margin-right: 5%;
    color: white;
}


nav ul{
    font-family: "Lexend";
    font-weight: 300;
    font-size: 14px;
    display: flex;
    color: white;
   
    gap: 40px;
    text-decoration: none;
    list-style: none;
    
    
}

