*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    margin-top: 0%;
    padding:3%;
    display: flex;
    justify-content: space-between;
}
body,html{
    height: 100%;
}

.hero{
    height: 100vh;
    background-image: url(assets/images/bmw.jpg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.logo,.call_to_action>h1{
    font-family: "Montserrat";
}

.logo{
   
    margin-right: 5%;
    color: white;
}


nav ul{
    font-family: "Lexend";
    font-weight: 300;
    font-size: 14px;
    display: flex;
    color: white;
   
    gap: 40px;
    text-decoration: none;
    list-style: none;
    
}

.call_to_action h1{
    margin-top: 3%;
    color: #008ca3 ;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 3px 3px 1px black;
}
.call_to_action span{
   color: white;
   font-style:italic ;
   text-decoration:  line-through;
}

.call_to_action>p{
font-family: "Lexend";
color: white;
font-size: 16px;
text-align: center;
text-shadow: 3px 3px 1px black;
}

button{
    padding: 1.2%;
    background-color: #008ca3;
    position: absolute;
    top: 45%; 
    left: 51.5%;
    transform: translate(-50%, -50%);
    
   
}


